@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '../elements/reset';

$main-color: #FFCC00;

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

.title-box {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    &__subtitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #898F8F;
        margin-bottom: 15px;
    }
    &__title {
        font-weight: 900;
        font-size: 60px;
        line-height: 66px;
        color: $main-color;
        margin-bottom: 40px;
    }
    &__underline {
        display: flex;
        align-items: center;
        justify-content: center;
        .line {
            height: 1px;
            width: 210px;
            background-color: $main-color;
            display: inline-block;
            margin: 0 5px;
        }
    }
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box {
    padding: 65px 85px 65px 0;
    min-height: 560px;
    border-right: 1px solid $main-color;
    max-width: 585px;
    &__inside-border {
        border: 1px solid $main-color;
        overflow: hidden;
        max-width: 400px;
        max-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__border {
        position: relative;
        padding: 15px;
        .border {
            position: absolute;
            width: 100px;
            height: 100px;
            &:nth-of-type(1) {
                border-top: 1px solid $main-color;
                border-left: 1px solid $main-color;
                left: 0;
                top: 0;
            }
            &:nth-of-type(2) {
                border-top: 1px solid $main-color;
                border-right: 1px solid $main-color;
                right: 0;
                top: 0;
            }
            &:nth-of-type(3) {
                border-bottom: 1px solid $main-color;
                border-right: 1px solid $main-color;
                right: 0;
                bottom: 0;
            }
            &:nth-of-type(4) {
                border-bottom: 1px solid $main-color;
                border-left: 1px solid $main-color;
                left: 0;
                bottom: 0;
            }
        }
    }
    
}

.text-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 560px;
    padding: 65px 0 65px 85px;
    &__title {
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        color: #666666;
        margin-bottom: 30px;
    }
    &__title-underline {
        height: 1px;
        width: 100px;
        background-color: $main-color;
        margin-bottom: 30px;
    }
    &__subtitle {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #666666;
        margin-bottom: 30px;
    }
    &__social-networks{
        display: flex;
        gap: 5px;
        margin-bottom: 50px;
    }
    &__text {
        max-width: 430px;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        color: #333333;
        margin-bottom: 20px;
    }
    &__bottom-underline {
        margin-bottom: 25px;
        display: inline-block;
    }
}

.btn {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #666666;
    text-align: center;
    border: 1px solid $main-color;
    display: inline-block;
    background-color: #33333300;
    border-radius: none;
    box-shadow: none;
    padding: 10px 5px;
    cursor: pointer;
    transition: all 1s;
    &:hover {
        background-color: $main-color;
        color: azure;
    }
}

.links {
    display: inline-block;
}

svg {
    path {
        fill: #CCCCCC;
        transition: all 1s;
    }
    circle {
        stroke: #CCCCCC;
        transition: all 1s;
    }
    &:hover {
        path {
            fill: $main-color;
        }
        circle {
            stroke: $main-color;
        }
    }
}