.btn {
    border: 1px solid #565656;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
    background-color: #565656;
    color: white;
    padding: 9.5px 45px;
    transition: all 0.5s;
    display: inline-block;
    &:hover {
        background-color: white;
        color: #565656;
        cursor: pointer;
    }
}