* {
    margin: 0;
    padding: 0; 
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0;
}

header .container {
    border-bottom: 1px solid #828282;
}

.center {
    text-align: center;
}

.container{
    max-width: 970px;
    width: 90%;
    margin: 0 auto;
}

nav a{
    text-decoration: none;
    color: #828282;
    font-size: 18px;
    padding: 0 20px;
    line-height: 80px;
    font-weight: 400;
    transition: all 0.4s;
}

nav a:hover {
    color: black;
    font-weight: 800;
}

h1 {
    color: black;
    font-size: 48px;
    margin: 12px 0 44px 0;
}

h2 {
    color: black;
    font-size: 34px;
    text-align: center;
}

p {
    color: black;
    font-size: 18px;
    text-align: center;
}

.white-section{
    background-color: white;
    padding: 100px 0 100px 0;
}

.gray-section {
    background-color: #F6F6F6;
    padding: 100px 0 100px 0;
}

.about-text:not(:last-child) {
    margin-bottom: 32.5px;
}

.about-title:first-child {
    margin-bottom: 45px;
}

.icon-blok {
    display: inline-block;
    width: 169px;
}

.icon-blok:not(:last-child) {
    margin-right: 98px;
}

.star:not(:first-child) {
    margin-left: 8.5px;
}

/* ======STAR ANIMATION====== */
.star-bl {
    fill: #070707;
    transition: all 0.2s;
    cursor: pointer;
}

.star-gr {
    fill: #E5E5E5;
    transition: all 0.2s;
    cursor: pointer;
}

.star-bl:hover {
    fill: #E5E5E5;
}

.star-gr:hover {
    fill: #070707;
}
/* ======STAR ANIMATION====== */
.icon-name{
    color: #828282;
    font-size: 14px;
    font-weight: 700;
    margin: 25px 0 60px 0;
    height: 38px;
}

.work-icon {
    display: block;
    margin: 0 auto;
}

.work-title {
    margin: 14px 0 50px 0;
}

.portfolio-a {
    font-size: 18px;
    color: black;
    
}

.portfolio-a-position {
    margin: 40px 0 70px 0;
}

.not-mb {
    margin-bottom: 0;
}

.mb-45 {
    margin-bottom: 45px;
}

.button {
    background-color: black;
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 22px;
    padding: 9px 16px;
    cursor: pointer;
    transition: all 1s;
    text-shadow: #828282;
    letter-spacing: 1.5px;
}

.button:hover {
    background-color: white;
    color: black;
}

.footer-p-position {
    margin: 16px 0 68px 0;
}

.icon-blok-footer {
    display: inline-block;
    margin: 40px 25px 60px 25px;
}

.begs {
    font-size: 14px;
    font-weight: 400;
    color: #828282;
}