* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    padding: 0 18px;
}

body {
    background-color: #121116;
    color: white;
    font-family: sans-serif;
}

.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copywrite {
   position: absolute;
   bottom: 38px;
   width: max-content;
   font-size: 15px;
}

.blue-text {
    color: #00c7fc;
}

.logo {
    margin-bottom: 51px;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 20px;
    padding: 0 42px 21px 42px;
    border-bottom: 1px solid white;
    margin-bottom: 21px;
}

.icons {
    justify-content: center;
    display: flex;
}

.svg-icon {
    fill: white;
    transition: all 0.5s;
}

a:hover .svg-icon {
    fill: #00c7fc;
    transform: scale(1.3);
}